<ion-view class="ionic">
  <ion-content scroll="true" class="has-header">

    <div class="list">
<div class="card">
  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Enter home address
  </a>
</div>

<div class="card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>
</div>

<div class="card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>
</div>
    </div>

  </ion-content>
</ion-view>
