
<ion-view ng-controller="NavCtrl" class="ionic">
              <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">

    <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
</ion-nav-bar>
    <ion-content>
TimeTables Content Here :)
    </ion-content>
    <a href="#/academics">
                <button class="button button-fab button-fab-bottom-right button-assertive icon ion-home waves-effect waves-button waves-light"></button>

    </a>
</ion-view>