<ion-view view-title="Renting Items" class="ionic title">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    
    <button class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light"></button>
  <ion-nav-title>
    <span>RENT!T</span>
  </ion-nav-title>

    <ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">

        <ion-tab title="ALL ITEMS">
            <ion-nav-view name="home-tab">
                <!--Miracle begins here-->
                <ion-content>
     <!-- Refresh to get the new posts -->

    <div class="list card stable-bg" ng-repeat="article in articles">
              <!--  <div class="item item-avatar">
                    <img src="img/phone.png">
                    <h2>{{article.title}}</h2>
                </div>
-->
        <div class="content">
           <a  ng-href="#app/articles/{{article._id}}"><h4 class="item tabs tabs-secondary bar-dark">{{article.title}}</h4></a> 
        <div class="item item-body">
{{article.content}}                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
        </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="BUSINESSES">
            <ion-nav-view name="dev-tab">
            <ion-content ng-controller="ItemsCtrl">

    <div class="list card stable-bg" ng-repeat="item in items">
              <!--  <div class="item item-avatar">
                    <img src="img/phone.png">
                    <h2>{{article.title}}</h2>
                </div>
-->
        <div class="content">
           <a  ng-href="#app/items/{{item._id}}"><h4 class="item tabs tabs-secondary bar-dark">{{item.name}}</h4></a> 
        <div class="item item-body">
{{item.content}}                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
        </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>                </ion-content>
            </ion-nav-view>
        </ion-tab>
<!--
        <ion-tab title="Account" icon="ion-person">
            <ion-nav-view name="account-tab">
            <ion-content>
                <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

</div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
-->

    </ion-tabs>
</ion-view>
