<ion-view class="ionic walkthrough-view" ng-controller="NavCtrl">
            <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
  <button class="button icon ion-navicon" ng-click="showMenu()"></button>

    <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
</ion-nav-bar>
<ion-content class="ionic content has-">
            <div class="list no-padding">
                <div class="card dark-bg" style="background-image: url(../img/banner.jpg); border: 1px solid black;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" href="#/pastpapers">
                        <h2>PastPapers</h2>
<p>Request any exam pastpaper, fill the form and the it will be delivered in your inbox.</p>                        
                        <!--<img src="../img/banner.jpg">-->
                    </a>
                </div>
                <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" href="#/elibrary/checkin">
                        <h2>Check a book</h2>
                        <p>Look if a book or a material is available</p>
                        <img src="../img/banner.jpg">
                    </a>
                
            </div>
     
    </div>
</ion-content>

</ion-view>
