
<ion-view class="ionic walkthrough-view">
  <ion-content scroll="false">
<div class="card padding">
  <div class="item item-divider">
     Help Build DekutApp
    </div>
  <div class="item item-text-wrap">
Contribute In the Building Of Dekut App. Your FeedBack is Highly Appreciated. 
      Leave us a comment or feedback through Email, Text or even a call, so that we can interact with that information.    
   Links Provided Below.
    </div>
  <div class="item item-divider">
     Let us know What you feel About The App
    </div>
</div>
    <div class="top-content row">
     
      <div class="hero no-header col col-center">
        <h2>Help Build DekutApp</h2>
          
          <div class="button-bar">
  <a ng-click="sendEmail()" class="button  button-flat button-assertive ink icon-left ion-email">Email Us</a>
  <a ng-click="sendEmail()" class="button  button-flat button-assertive ink icon-left ion-email">Text Us</a>
  <a cng-click="sendEmail()" class="button button-full button-flat button-assertive ink icon-left ion-email">Call Us</a>
</div>

        </div>

    </div>
      
 <!--  <div class="padding"> -->
 
  </ion-content>
</ion-view>
