<ion-view class="ionic walkthrough-view">
    <ion-content scroll="false">

        <div class="top-content row">

            <div class="col col-center">
                <h2 class="title">Help Build DekutApp</h2>
                <div class="card padding">

                    <div class="item item-text-wrap">
                        Contribute In the Building Of Dekut App. Your FeedBack is Highly Appreciated. Leave us a comment or feedback through Email, Text or even a call, so that we can interact with that information. Links are Provided Below.
                    </div>

                </div>
                <a ng-click="sendEmail()">
                    <button class="button button-fab button-balanced icon ion-email"></button>
                </a>
            </div>

        </div>

        <div class="padding">
            <a href="tel:+254707769247">
                <button class="button button-full button-flat button-assertive ink icon-left ion-log-in">Call US</button>
            </a>

            <a href="tel:+254707769247">
                <button class="button button-full button-flat button-positive icon-left ion-email">Text Us</button>
            </a>

        </div>

    </ion-content>
</ion-view>