<ion-view class="ionic walkthrough-view">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <h2 class="title">Welcome To DekutApp</h2>
        </div>
            
    </div>
   <div class="padding">
       <a href="#/login">
       <button class="button button-full button-flat button-assertive ink icon-left ion-log-in" hfref="#/login">Login</button></a>
            
       <a href="#/signup">
      <button class="button button-full button-flat button-positive icon-left ion-outlet" href="#/register">Sign Up</button>
       </a>
        </div>
  </ion-content>
</ion-view>
 