<ion-view view-title="Login" align-title="left">
<ion-content class="ionic login animate-pan-left">
    <div class="hero no-header flat">
        <div class="content">
            <i class="ion-person icon hero-icon"></i>
            <h1 class="title-center">Login</h1>
        </div>
    </div>
    <!--div for continue with google-->
    <form novalidate="novalidate" name="loginForm">

        <div class="list">
            <ion-md-input highlight-color="balanced" type="text" name="email" placeholder="Email" ng-model="credentials.email" required></ion-md-input>
            <ion-md-input highlight-color="energized" type="password" name="password" placeholder="Password" ng-model="credentials.password" required></ion-md-input>
        <!--    <div>
                <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
  <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
  <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
            </div>
        -->
        </div>
        <div class="padding">
            <button ng-disabled="!loginForm.$valid" class="button button-block button-positive waves-effect waves-light" ng-click="login()">Login &nbsp
                <i class="ion-key"></i>
            </button>
            <button class="button button-block button-raised button-stable ink-dark" ng-click="goToRegister()">Don't have an account yet?
            </button>
        </div>

    </form>




</ion-content>

</ion-view>
