<ion-view title="{{article.title}}">
<ion-content class="Ionic has-header">

    <div class="list card stable-bg">
                <div class="item">
                    <h2>{{article.title}}</h2>
                </div>
                <div class="item item-body">
{{article.content}}                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            </div>
<button class="button button-fab button-balanced icon ion-leaf ink-dark"></button>
</ion-content>
</ion-view>