<div class="ionic modal slide-in-up" ng-controller="HomeTabCtrl">
   <header class="bar bar-header bar-positive flat">
      <h1 class="title fab-left">New Twitt</h1>
      <button class="button button-icon icon ion-close-round flat pull-left" ng-click="close()"></button>
   </header>
   <ion-content class="padding has-header">
                <form novalidate="novalidate" name="tweetForm">
         <label class="item item-input item-floating-label">
                    <span class="input-label">What's Happening</span>
                <input type="text" placeholder="Type your tweet" ng-model="newTweet.content" required/>
                </label>
           
  <button ng-disabled="!tweetForm.$valid" class="button button-full button-positive icon-left ion-airplane"
                        data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="saveTweet()">
Send
                    </button>
       </form>

   </ion-content>
</div>
