<ion-view class="ionic">
    <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
        <h1 class="title">Notice Board</h1>
        <a class="button icon ion-navicon" href="#/tab/home"></a>

        <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content class="ionic has-header">

         <div class="list">
            <div class="item">
               <!-- <div class="item-avatar"> <img src="pics/{{session.pic}}"/></div>-->
                <div class="sessionTitle"><h2>{{session.title}}</h2>
                    <p>{{session.speaker|uppercase}}</p>
                </div>

                <p>{{session.room}} | {{session.time}}
                   <!-- <button>
                    <a class="tab-item addCal" ng-click="addToCalendar()">
                    <i class="icon ion-calendar" style="font-size: 16px">
                        Add</i></a></button> -->
                </p>
            </div>
            <div class="item item-body">
                <p>{{session.description}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="addFavorite()">
                    <i class="icon ion-heart" ng-class="{'fave': session.isFave}"></i>
                    Favorite
                </a>
                <a class="tab-item" ng-click="addToCalender()">
                    <i class="icon icon-left ion-calendar button-balanced"></i>
                    Add
                </a>
                <a class="tab-item" ng-click="shareNative()">
                    <i class="icon ion-share"></i>
                    Share
                </a>
                <!-- Use this if you want to share with the openFB option instead -->
                <!--<a class="tab-item" ng-click="share(session)">-->
                    <!--<i class="icon ion-social-facebook"></i>-->
                    <!--Share-->
                <!--</a>-->
            </div>
        </div>

    </ion-content>
</ion-view>
