<ion-view class="ionic">
    <ion-header-bar class="ionic bar bar-header bar-positive item-input-inset" style="position: static;">
        <h1 class="title">Notice Board</h1>
        <a class="button icon ion-navicon" href="#/tab/home"></a>

        <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
        </ion-nav-back-button>
 <div class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="searchKey" type="search" placeholder="Search The Notice Board" ng-model="search"
               autocorrect="off" ng-change="setFilter()">
      </div>
    </ion-header-bar>

    <ion-content class="ionic">

<label class="item item-input item-select">
              <div class="input-label pull-right">
                  <strong>Sort By</strong>
              </div>
              <select ng-model="field">
                  <option value="all" ng-selected="true" selected>All</option>
                  <option value="title">Title</option>
                  <option value="speaker">Speaker</option>
                  <option value="description">Description</option>
                  <option value="room">Room</option>

              </select>
          </label>
        <ion-item ng-repeat="notice in notices | filter:search | orderBy: field" type="item-text-wrap" class="list card padding stable-bg" href="#/notices/{{notice.id}}">

            <p class="item item-divider title">{{notice.title}}</p>
            <div class="item item-body">
                {{notice.content}}
                <h4>By {{notice.user.displayName}}</h4>

            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
               <a class="tab-item" ng-click="addToCalender()">
                    <i class="icon icon-left ion-calendar button-balanced"></i>
                    Add
                </a>
                <a class="tab-item" ng-click="shareNative()">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </ion-item>


    </ion-content>
    <div ng-controller="ExtensionsCtrl"><button class="button button-fab button-fab-bottom-right button-assertive icon ion-plus waves-effect waves-button waves-light" ng-click="openModal()"></button></div>
       <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view class="ionic">
                <ion-header-bar>
                    <h1 class="title">Notice Board Instructions</h1>
                </ion-header-bar>
                <ion-content class="padding">
                Click on a Notice to view More Content.
                    <p></p>
                    Post A Notice Here.
                    <p> We are working on the Details we will gie you the feedback soon. :)

                </ion-content>
            </ion-modal-view>
        </script>
</ion-view>
