<ion-view class="ionic">
    <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
        <h1 class="title">Notice Board</h1>
        <a class="button icon ion-navicon" href="#/tab/home"></a>

        <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content>

        <ion-item ng-repeat="session in sessions" class="list card padding stable-bg" href="#/notices/{{session.id}}">
            <p class="item item-divider title">{{session.title}}</p>
            <div class="item item-body">
                {{session.description}}
                <h4>By {{session.speaker}}</h4>

                <p>
                    <a class="subdued">1 Like</a>
                    <a class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </ion-item>

    </ion-content>
</ion-view>
