
   <ion-content class="padding has-header">
       <form name="StockForm">
         <label class="item item-input item-floating-label">
                    <span class="input-label">Item Name:</span>
                    <input type="text" name="itemname" placeholder="Item Name" ng-model="data.item" required>
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Quantity: </span>
                    <input type="text" name="itemquantity" placeholder="Quantity in Stock" ng-model="data.quantity" required>
                </label>
      <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>

Notify Me When Item Stock is running Low
       </div>
       <div ng-controller="dateCtrl">
         <ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title" mondayfirst="true">
       <button class="button button-block button-positive"> {{ currentDate | date:'dd - MMMM - yyyy' }} </button>
       </ionic-datepicker>
       </div>
  <button ng-disabled="StockForm.$invalid" class="button button-full button-positive icon-left ion-checkmark"
                        ng-click="createNew()">
                    Submit
                </button>
       </form>

   </ion-content>
</div>
