<ion-view title="Register For DekutApp" class="ionic">
 <ion-nav-bar class="bar bar-header bar-dark" style="position: static; margin-bottom: 25px;">
   <a href="#/login">
   <button class="button icon ion-locked" href="#/login"></button>
</a>
    </ion-nav-bar>

    <ion-content scroll="true">
        <form novalidate="novalidate" name="registerForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-person"></i>
                    <input type="text" placeholder="Username" name="username" ng-model="registration.username" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-email"></i>
                    <input type="email" placeholder="E-mail" name="email" ng-model="registration.email" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked"></i>
                    <input type="{{inputType}}" placeholder="Password" name="password" ng-model="registration.password"
                           required>
                </label>
                <div>
                      <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
        <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
        <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                  </div>
            </div>
            <div class="padding">
                <h3>Choose your avatar<small>&nbsp;(Custom Avatars coming soon)</small></h3>
                <div class="row">
                    <div class="col"  ng-repeat="i in [1,2,3,4]">
                        <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.avatar.id={{i}}" ng-class="$parent.avatar.id==={{i}} ? 'avatar-active':''"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col"  ng-repeat="i in [5,6,7,8]">
                        <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.avatar.id={{i}}" ng-class="$parent.avatar.id==={{i}} ? 'avatar-active':''"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col"  ng-repeat="i in [9,10,11,12]">
                        <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.avatar.id={{i}}" ng-class="$parent.avatar.id==={{i}} ? 'avatar-active':''"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col"  ng-repeat="i in [13,14,15,16]">
                        <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.avatar.id={{i}}" ng-class="$parent.avatar.id==={{i}} ? 'avatar-active':''"/>
                    </div>
                </div>
                <!--
<div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="regestration.terms" required>
                    </label>
                   <a href="">
                       I read the terms &amp; conditions.

                     </a>
                </div> -->
                <button ng-disabled="!registerForm.$valid || !avatar.id" ng-click="register()"
                        class="button button-full button-flat button-positive icon-left ion-outlet">
                    Register
                </button>
            </div>
                    </form>
    </ion-content>
</ion-view>
