<ion-view ng-controller="NavCtrl" class="ionic">
              <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
  <button class="button icon ion-navicon" ng-click="showMenu()"></button>

    <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
</ion-nav-bar>
    <ion-content>
  <div class="card">

                    <div class="item item-text-wrap">
<div class="card item item-text-wrap">
                        <div class="title item item-divider">
                            
MOTTO 
                </div>
<p>
The Dedan Kimathi University of Technology motto is: “Better Life through Technology”. 
    </p>

        </div>


<div class="card item item-text-wrap">
                        <div class="title item item-divider">
                            
VISION STATEMENT 
                </div>
<p>
To be the Premier Technological University Excelling in Quality Education, Research, and Technology Transfer for national development
    </p>

        </div>  



 <div class="card item item-text-wrap">
                        <div class="title item item-divider">
                            
MISSION STATEMENT 
                </div>
<p>
           
To provide academically stimulating, culturally diverse and quality learning environment that fosters research, innovation and technology development towards producing relevant technical and managerial human resource and leaders to contribute to attainment of national development goals.                </p>

        </div>  



  
 


                        
   
                        <div class="card item item-text-wrap">
                        <div class="title item item-divider">
                            
CORE VALUES 
                </div>
<p class="list">
    <ion-item>   Innovation </ion-item>
    <ion-item>   Scholarship </ion-item>
    <ion-item>   Diversity  </ion-item>
    <ion-item>   Integrity </ion-item>
    <ion-item>    Teamwork </ion-item>
         

      

     

                            </p>

        </div>
                       <div class="card item item-text-wrap">
                        <div class="title item item-divider">
                            
PHILOSOPHY 
                </div>
<p>
            Dedan Kimathi University of Technology is founded on the belief that self-actualization, and solutions to global challenges are attainable through a spirit of dedication, self –confidence, determination, and best utilization of resources. The institution also believes in being globally competitive through the employment of global competencies. To actualize its beliefs and goals, the University is committed to investing in her staff, facilities and systems to ensure an internationally excellent environment for education and for the furtherance of her aims and objectives. <br />The ultimate goal of this philosophy is to mould Dedan Kimathi University of Technology into an institution known for world class research, academic excellence, an exceptional staff and students, and one that harbors the highest level of innovation, creativity, scholarship and enterprises.                </p>

        </div>  

                     </div>

                </div>
           
    </ion-content>
</ion-view>