<ion-tabs class="ionic tabs-positive">

   <ion-tab title="Sign In" icon="ion-home" href="#/tour">
      <ion-nav-view name="tour-home"></ion-nav-view>
   </ion-tab>
    <ion-tab title="Facilities" icon="ion-flag" href="#/tour/facilities">
      <ion-nav-view name="tour-facilities"></ion-nav-view>
   </ion-tab>
    
<ion-tab title="Map" icon="ion-location" href="#/tour/map">
      <ion-nav-view name="tour-map"></ion-nav-view>
   </ion-tab>
    <ion-tab title="About" icon="ion-information-circled" href="#/tour/about">
      <ion-nav-view name="tour-about"></ion-nav-view>
   </ion-tab>


   
</ion-tabs>
