<ion-view ng-controller="NavCtrl" class="ionic">
              <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
  <button class="button icon ion-navicon" ng-click="showMenu()"></button>

    <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
</ion-nav-bar>
    <ion-content>
  <div class="card padding">

                    <div class="item item-text-wrap">
                        Contribute In the Building Of DekutApp. Your FeedBack is Highly Appreciated. Leave us a comment or feedback through Email, Text or even a call, so that we can interact with that information. Links are Provided Below.
                    </div>

                </div>
    </ion-content>
</ion-view>