<div class="ionic">
        <ion-header class="ionic bar bar-header bar-positive">
        <h1 class="title fab-left">Facilities</h1>
        </ion-header>
        <ion-content class="content has-header">
                    <div class="list condensed-space no-padding animate-blinds">
              <!--Card begins here-->
                        <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                        <h2>Library</h2>
                        <p>Lib description</p>
                        <img src="../img/mountains.jpg">
                    </a>
                    
                        </div>
                        <!--card ends here-->
            
            </div>
        </ion-content>
</div>

