<ion-view ng-controller="NavCtrl" class="ionic home-view">
    <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
        <button class="button icon ion-navicon" ng-click="showMenu()"></button>

        <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="card list">
                <div class="item item-divider">
                    <h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
                </div>
                <p class="card-content">
                    <div class="list">
                        <a class="item item-icon-left">
                            <i class="icon ion-navigate"></i> Nyeri-Mweiga road
                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-filing"></i> P.O BOX: 657-10100 Nyeri

                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-email"></i> Email: marketing@dkut.ac.ke
                        </a>
                        <a class="item item-icon-left" href="tel:+254713835965">
                            <i class="icon ion-iphone"></i> Cell: 0713835965/0713123021


                        </a>
                        <a class="item item-icon-left" href="tel:061-2050000">
                            <i class="icon ion-android-call"></i> Tel: 061-2050000



                        </a>

                    </div>
                </p>

            </ion-item>
            <ion-item class="card list">
                <div class="item item-divider">
                    <h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
                </div>
                <p class="card-content">
                    Director, Nyeri Town Campus

                    <div class="list">
                        <a class="item item-icon-left">
                            <i class="icon ion-home"></i> Prestige plaza,

                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-filing"></i> P.O BOX 657-10100, Nyeri


                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-email"></i> Email:directornyeritc@dkut.ac.ke
                        </a>
                        <a class="item item-icon-left" href="tel:+254723730223">
                            <i class="icon ion-iphone"></i> Cell: 0723730223



                        </a>
                    </div>

                </p>
            </ion-item>
            <ion-item class="card list">
                <div class="item item-divider">
                    <h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
                </div>
                <p class="card-content">
                    Director, Nairobi CBD Centre

                    <div class="list">
                        <a class="item item-icon-left">
                            <i class="icon ion-home"></i> Union Towers- 10th Floor Moi Avenue,


                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-filing"></i> P.O. Box 657-10100,Nyeri.
                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-email"></i>Email: directornairobi@dkut.ac.ke
                        </a>
                        <a class="item item-icon-left" href="tel:+254710-127516">
                            <i class="icon ion-iphone"></i> Cell: 0710-127516




                        </a>
                    </div>
                </p>

            </ion-item>
            <ion-item class="card list">
                <div class="item item-divider">
                    <h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
                </div>
                <p class="card-content">
                    Registrar (Academic Affairs)

                    <div class="list">
                        <a class="item item-icon-left">
                            <i class="icon ion-home"></i> Union Towers- 10th Floor Moi Avenue,


                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-filing"></i> P.O. Box 657-10100,Nyeri.

                        </a>
                        <a class="item item-icon-left">
                            <i class="icon ion-email"></i>Email: registraraa@dkut.ac.ke
                        </a>
                        <a class="item item-icon-left" href="tel:+254713-835965">
                            <i class="icon ion-iphone"></i> Cell: 0713-835965/0713-123021



                        </a>
                    </div>
                </p>

            </ion-item>
            
        </ion-list>
    </ion-content> 
</ion-view>
