<ion-view ng-controller="NavCtrl" class="ionic home-view">
              <ion-nav-bar class="ionic bar bar-header bar-positive" style="position: static;">
  <button class="button icon ion-navicon" ng-click="showMenu()"></button>

    <ion-nav-back-button class="ionic button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
</ion-nav-bar>
    <ion-content>
<ion-list>
    <ion-item class="list card stable-bg item-text-wrap">
  <div class="item item-divider">
<h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
        </div>  
        <p class="card-content">
  <div class="list">
    <div class="item item-button-right">
Cell: 0713835965/0713123021
                    <button class="button icon ion-more pull-right">
                    </button>
                </div>
        </div>
        
            Nyeri-Mweiga road   

P.O BOX 657-10100 Nyeri

Cell: 0713835965/0713123021

Tel: 061-2050000

Email: marketing@dkut.ac.ke
        </p>
        
    </ion-item>
     <ion-item class="list card stable-bg item-text-wrap">
  <div class="item item-divider">
<h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
        </div>  
        <p class="card-content">
Director, Nyeri Town Campus
Prestige plaza,
P.O BOX 657-10100,
NYERI.
Cell: 0723730223
Email: directornyeritc@dkut.ac.ke
        </p>  
    </ion-item>
    <ion-item class="list card stable-bg item-text-wrap">
  <div class="item item-divider">
<h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
        </div>  
        <p class="card-content">
            <div class="list">
    <div class="item item-button-right">
                    Bro
                    <button class="button button-balanced ink">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
                </div>
        </div>
            Director, Nairobi CBD Centre

Director, Nairobi CBD Centre,
Union Towers- 10th Floor Moi Avenue,
P.O BOX 22992-00100,Nairobi.
Cell: 0710-127516
Email: directornairobi@dkut.ac.ke
        </p>  
    </ion-item><ion-item class="list card stable-bg item-text-wrap">
    <div class="item item-divider">
        <h2 class="hellotitled">Nyeri  (Main Campus)  
</h2>
    </div>
    <p class="card-content">
 
Registrar (Academic Affairs)
P.O. Box 657-10100,Nyeri.
Cell: 0713-835965
       0713-123021
Tel: 061-2050000
Email: registraraa@dkut.ac.ke    </p>
</ion-item>
  </ion-list>    </ion-content>
</ion-view>
