<ion-view class="ionic walkthrough-view">
    
    <!--School Photo in Background-->
<ion-content class="ionic login animate-pan-in-left" style="background-image: url('../img/banner.jpg');">

        <div class="hero no-header flat">
            <div class="content double-padding]">
                <!-- Replace banner.jpg with official school app-->
                <i class="icon hero-icon royal-bg"style="background-image: url('../img/banner.jpg');"></i>
                <h1>Welcome To Dedan Kimathi University</h1>
                <div class="mottocontent">
           
           <h3>"Better Life Through Technology"</h3>

        </div>
            </div>
        </div>
        
        
       
    </ion-content>
</ion-view>